.grid-container{
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax (0px, 1fr) repeat(6, minamx(0,175px)) minamx(0px, 1fr);
    gap: 10px;
}
header{
    background-color: #2d3874;
    grid-column: 2 / 8;
    height: 100px;
}
nav{
    background-color: #54195d;
    grid-column: 2 / 8;
    height:100px;

}
main{
    background-color: #e0ed47;
    grid-column: 2 / 6;
    height: 300px;
}
footer{
     background-color: #1e4a10;
    grid-column: 2 / 8;
    height: 300px;

}
