img {
    width:100%;
}
.grid-container{
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px,1fr)repeat(6,minmax(0,175px))minmax(0px,1fr);
    gap: 10px;
    grid-column: 2 / -2;
}
header{
    background-image: url(se1400/pictures/Logo.jpg);
    background-color: #000000;
    grid-column: 1 / -1;
    height: 150px;
    text-align: center;
}
header img {
    width:auto;
    height:150px;
}
h1 {
    text-align: center;
    color:#BA1C21;
    margin:0;
}
nav{
    background-color: #3b3c3b;
    grid-column: 1 / -1;
    
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
nav ul li {
    width: 100%;
}
nav a { 
    text-decoration: none;
    color: #ffffff;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
    font-size:18px;
}
nav a:hover{
    background-color: #BA1C21;
}
main{
    grid-column: 1 / -1;
}
main .greybg {
    background-color: #3b3c3b;
    padding:30px;
}
main p, main ul li {
    color:#ffffff;
}
footer .gallery {
    display:flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
}
footer .gallery img {
    width:30%;
    height:320px;
}
footer .logo img {
    width:50%;
    height:315px;
}
footer{
    color:#BA1C21; 
    grid-column: 1 / -1;
    text-align:center;
}
@media only screen and (max-width:992px){

} 
@media only screen and (max-width:768px){
    nav ul{
        flex-direction:column;
    }
    footer .gallery {
        flex-direction:column;
    }
    footer .gallery img{
        width:100%;
        height:auto;
    }
}